<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!-- Настройка масштабирования для мобильных устройств -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Динамически заполняемое название страницы -->
    <title>{{ page }}</title>
    <!-- Загрузка статических файлов Django -->
    {% load static %}
    <!-- Подключение стилей CSS -->
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="icon" href="{% static '/backgrounds/favicon.ico' %}" type="image/x-icon">
</head>
<body style="background-image: url('{% static 'backgrounds/colored1.jpg' %}');
    background-size: cover; background-attachment: fixed;">
    <!-- Динамически заполняемый заголовок -->
    <header>
        <h1>{{ header }}</h1>
    </header>
    <!-- Основной контент страницы с формой для ввода контактных данных посетителя сайта -->
    <div class="content" style="margin: 0% auto; padding: 0%; max-width: 40vw; width: 100%;">
        <form method="post" style="display: grid; gap: 4%;">
            {% csrf_token %}
            <!-- Поле "Имя" -->
            <div class="input-line">
                <label for="first_name">Имя:</label>
                <input class="input-box" type="text" id="first_name" name="first_name" required>
            </div>
            <!-- Поле "Фамилия" -->
            <div class="input-line">
                <label for="second_name">Фамилия:</label>
                <input class="input-box" type="text" id="second_name" name="second_name" required>
            </div>
            <!-- Поле "Текст обращения" -->
            <div class="input-line">
                <label for="request_box">Сообщение:</label>
                <textarea class="input-box" id="request_box" name="request_box"
                          style="height: 120px; resize: none;" required></textarea>
            </div>
            <!-- Поле "E-mail" -->
            <div class="input-line">
                <label for="email">Email:</label>
                <input class="input-box" type="email" id="email" name="email" required>
            </div>
            <!-- Поле "Телефон" -->
            <div class="input-line">
                <label for="phone">Телефон:</label>
                <input class="input-box" type="text" id="phone" name="phone">
            </div>
            <!-- Кнопка для отправки формы -->
            <button class="back-bottom-button" type="submit"
                    style="padding: 0%;  width: 100%;">ОТПРАВИТЬ</button>
        </form>
    </div>
    <!-- Кнопки для возврата на главную страницу -->
    <a class="back-button" href="{% url 'main' %}"></a>
    <a class="back-bottom-button" href="{% url 'main' %}">НАЗАД</a>
    <!-- Футер с динамическим выводом текущего года -->
    <footer>
        <p>Москва {% now "Y" %}</p>
    </footer>
</body>
</html>