<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body style="background-image: url('{% static '/backgrounds/MB.jpg' %}');
    background-size: cover; background-attachment: fixed;">
    <header>
        <h1>{{ header }}</h1>
    </header>
    <div class="content">
        <div class="banner">
            <a class="button" href="{% url 'about' %}">ОБО МНЕ</a>
            <a class="button" href="{% url 'projects_list' %}">МОИ ПРОЕКТЫ</a>
            <a class="button" href="{% url 'contacts' %}">КОНТАКТЫ</a>
        </div>
    </div>
    <footer>
        <p>{{ footer }}</p>
    </footer>
</body>
</html>